doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 

        main.main#main 
            .calculator 
                .top-bar
                .screen
                    #screen-operation.screen_top 65 x 64
                    #screen-result.screen__content 5460
                .buttons
                    .button#button-clear C
                    .button#button-sign =/-
                    .button#button-percent %
                    .button#button-divide /
                    .button#button-7 7
                    .button#button-8 8
                    .button#button-9 9
                    .button#button-multiply *
                    .button#button-4 4
                    .button#button-5 5
                    .button#button-6 6
                    .button#button-substract -
                    .button#button-1 1
                    .button#button-2 2
                    .button#button-3 3
                    .button#button-add +
                    .button#button-0 0
                    .button#button-blanc 
                    .button#button-coma , 
                    .button#button-result =