mixin card(title,descriptionAuthor,modifierClass='')
    article(class=`card user ${modifierClass}`.trim())
        //-el TRIM() es por si no pasamos parametros para que no agregue espacio en blanco
        //-con solo escribir block podemos meter otro mixin dentro si ponemos el block abajo se ubicara el 
        //- contenido abajo y donde llamemos al mixi deberemos ponerlo identado hacia adentro dentro de este
        //-(el otro mixin llamado user.pug lo llamamos dentro de este en index.pug)
        block 
        h2.card__title=title
        blockquote.card__description=descriptionAuthor
    
