mixin user(imageAutor,author,work,classModifier='')
    header(class=`card__header ${classModifier}`.trim())
        .user__image-autor 
            img(src=imageAutor, alt="author").user__image
        .user__autor 
            p.user__name= author
            p.user__work=work 
